/* Loader */
.full-wraper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
    background-color: #ffffff;
    z-index: 9999;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #ffffff;
    z-index: 9999;
}

.linear-loader {
    width: 0;
    height: 100%;
    background-color: #198754;
    animation: load 2s infinite;
}

@keyframes load {
    0% {
        width: 0%;
        left: 0%;
    }

    50% {
        width: 100%;
        left: 0%;
    }

    100% {
        width: 0%;
        left: 100%;
    }
}

/* Loader End */


.sidebar {
    height: 100vh;
    width: 350px;
    display: block;
    margin-top: 0px;
    z-index: 4;
    background-color: rgb(255, 255, 255);
    transition: width 1s ease-in-out;
}

.sidebar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
        padding: 15px 15px;
        /* background: #4CAF50; */
        transition: 1s;

        a {
            font-size: 20px;
            text-decoration: none;
            color: #1c1b1b;
            font-weight: 400;
            cursor: pointer;
        }
    }

    :hover {
        color: #e2e1e1 !important;
        background: #4CAF50;
    }
}

.hidden {
    transform: translateX(-100%);
}

#mainContent {
    transition: margin-left 1s ease-in-out;
}

.full-width {
    margin-left: -300px;
}

#toggleButton {
    font-size: 30px;
    padding: 0px 20px;
    background: #fff;
}

.tor-right {
    font-size: 26px;
    border: 1px solid;
    border-radius: 50%;
    padding: 5px 7px;
    margin: 5px;
}

button#dropdownMenu2 {
    border: none;
    background: #ffffff00;
}